* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #1B2430; }

header {
  width: 100%;
  padding: 20px 3%;
  height: 70px;
  background-color: #371B58; }
  header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container .logo {
      width: 250px; }
      header .container .logo h4 {
        color: #EBEBEB; }
    header .container .btn-menu {
      width: 30px; }
      @media screen and (min-width: 840px) {
        header .container .btn-menu {
          display: none; } }
      header .container .btn-menu i {
        color: #EBEBEB;
        font-size: 22px;
        cursor: pointer; }
    @media screen and (max-width: 840px) {
      header .container .menu-desktop {
        display: none; } }
    header .container .menu-desktop ul {
      display: flex; }
    header .container .menu-desktop ul li {
      list-style: none;
      margin: 0 15px; }
      header .container .menu-desktop ul li a {
        text-decoration: none;
        color: #EBEBEB; }
    header .container .menu-mobile {
      display: none;
      position: absolute;
      width: 100%;
      text-align: center;
      height: 240px;
      background-color: #1B2430;
      top: 70px;
      left: 0;
      padding: 15px 0; }
      header .container .menu-mobile ul li {
        margin: 15px 0; }
        header .container .menu-mobile ul li a {
          text-decoration: none;
          color: #EBEBEB; }

@media screen and (min-width: 740px) {
  main .quem_sou {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center; } }
main .quem_sou .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }
  main .quem_sou .container .row {
    justify-content: center; }
  main .quem_sou .container .nome {
    padding-top: 40px;
    margin-top: 30px;
    min-height: 150px;
    background-color: #371B58; }
    @media screen and (min-width: 740px) {
      main .quem_sou .container .nome {
        max-height: 120px;
        max-width: 40%;
        padding-top: 20px;
        align-self: center;
        border-radius: 15px;
      } }
    main .quem_sou .container .nome .center {
      width: 200px;
      margin: 0 auto; }
      main .quem_sou .container .nome .center h2 {
        color: #EBEBEB; }
      main .quem_sou .container .nome .center p {
        color: #EBEBEB; }
  main .quem_sou .container .sobre {
    width: 100%;
    padding: 30px 30px;
    min-height: 250px;
    background-color: #371B58; }
    @media screen and (min-width: 740px) {
      main .quem_sou .container .sobre {
        padding-top: 20px;
        align-self: center;
        max-width: 40%; 
        margin-left: 20px;
        border-radius: 15px;
      } }
    main .quem_sou .container .sobre h3 {
      color: #EBEBEB; }
    main .quem_sou .container .sobre p {
      color: #EBEBEB; }
main .skills {
  margin-top: 30px; }
  main .skills .container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #371B58;
    min-height: 250px;
    padding: 30px 40px; 
    border-radius: 15px;
  }
    main .skills .container h3 {
      color: #EBEBEB; }
    main .skills .container .group_skills {
      width: 300px;
      margin: 0 auto;
      display: flex;
      margin-top: 25px;
      flex-wrap: wrap; }
      main .skills .container .group_skills i {
        font-size: 55px;
        margin: 0 10px; }
      main .skills .container .group_skills .fa-html5 {
        color: orangered; }
      main .skills .container .group_skills .fa-css3-alt {
        color: #0082b1; }
      main .skills .container .group_skills .fa-square-js {
        color: yellow; }
      main .skills .container .group_skills .fa-bootstrap {
        color: #563d7c; }
      main .skills .container .group_skills .fa-react {
        color: #61dafb; }
      main .skills .container .group_skills .fa-node-js {
        color: #026e00; }
main .projetos {
  margin-top: 30px; }
  main .projetos .container h3 {
    color: white; }
  main .projetos .container .row .projeto-single {
    margin: 10px auto;
    max-width: 350px;
    background-color: #371B58;
    padding: 20px; }
    main .projetos .container .row .projeto-single .card-body h5 {
      color: #EBEBEB; }
    main .projetos .container .row .projeto-single .card-body p {
      color: #EBEBEB; }

footer {
  margin-top: 40px;
  background-color: #371B58;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center; }
  footer i {
    color: #EBEBEB;
    font-size: 40px;
    margin: 0 10px; }


    .btn-projeto{}
/*# sourceMappingURL=global.css.map */
